body {
	background-image:url(../images/fond.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: #b6b6b6;
	margin: 10px;
	color: white;
	font-family: 'runique', Arial, serif;
	font-size:20px;
}
a:hover{background: none;}
.barre{background: #F2F2F2;font-size: 17px;}
.title{color: red;}
.word{color: white;font-weight: bold;}
/*Page d'inscription*/
#pseudo{color: black;text-align: center;font-size: 25px;}
#mdp{color: black;text-align: center;font-size: 25px;}
#mdp2{color: black;text-align: center;font-size: 25px;}
#valider{text-align: center;}
#reponse{text-align: center;font-size: 20px;}
/**/
.row{text-align: center;}
#button{text-align: center;}
/*Page de connexion*/
#login{color:black;text-align: center;font-size: 25px;}
#password{color:black;text-align: center;font-size: 25px;}
/**/
/*Page de profil*/
#pseudoP{color: limegreen;text-align: center;font-size: 25px;}
/**/
@font-face {
	font-family: 'runique';
    src: url('../styles/runique.ttf');
}